version: 2.1

jobs:

  build:
    docker:
      - image: circleci/golang:1.17.3
    environment:
      GOPATH: /go
    working_directory: /home/circleci/workspace/helmfile
    steps:
      - checkout
      - restore_cache:
          keys:
          - go-mod-cache-v1-{{ checksum "./go.sum" }}
          - go-mod-cache-v1-
      - run: go env
      - run: make build
      - run: make build-test-tools
      - run: |
          make tools
          go mod vendor
          make cross
      - save_cache:
          key: go-mod-cache-v1-{{ checksum "./go.sum" }}
          paths:
          - /go/pkg/mod
      - persist_to_workspace:
          root: ./
          paths:
            - .

  image:
    docker:
    - image: jdrouet/docker-with-buildx:stable
    working_directory: /home/circleci/workspace/helmfile
    steps:
    - checkout
    - run: mkdir ~/build
    - attach_workspace:
        at: ~/build
    - run: mv -v ~/build/dist .
    - setup_remote_docker:
        version: 18.09.3
    - run:
        command: |
          find dist
          #docker run --rm --privileged tonistiigi/binfmt:latest --install linux/amd64,linux/arm64
          apk add --no-cache make git
          ORG=roboll BUILD_URL="$CIRCLE_BUILD_URL" make image

  image_debian:
    docker:
    - image: jdrouet/docker-with-buildx:stable
    working_directory: /home/circleci/workspace/helmfile
    steps:
    - checkout
    - run: mkdir ~/build
    - attach_workspace:
        at: ~/build
    - run: mv -v ~/build/dist .
    - setup_remote_docker:
        version: 18.09.3
    - run:
        command: |
          #docker run --rm --privileged tonistiigi/binfmt:latest --install linux/amd64,linux/arm64
          apk add --no-cache make git
          ORG=roboll BUILD_URL="$CIRCLE_BUILD_URL" make image/debian

  test:
    environment:
      GOPATH: /go
    docker:
      - image: circleci/golang:1.17.3
    working_directory: /home/circleci/workspace/helmfile
    steps:
      - checkout
      - restore_cache:
          keys:
          - go-mod-cache-v1-{{ checksum "./go.sum" }}
          - go-mod-cache-v1-
      - run: make check
      - run: make pristine
      - run: make test

  # thanks to https://raw.githubusercontent.com/weaveworks/launcher/master/.circleci/config.yml
  integration_tests:
    machine:
      image: ubuntu-2004:202010-01
    parameters:
      helm-version:
        type: string
    steps:
      - checkout
      - run: mkdir ~/build
      - attach_workspace:
          at: ~/build
      - run:
          name: Install test dependencies
          command: |
            cp ~/build/helmfile ~/project/helmfile
            cp ~/build/diff-yamls ~/project/diff-yamls
            cp ~/build/yamldiff ~/project/yamldiff
            make -C .circleci helm
            make -C .circleci vault
            make -C .circleci sops
            make -C .circleci kustomize
            make -C .circleci minikube
      - run:
          name: Execute integration tests
          environment:
            TERM: "xterm"
          command: |
            export TERM=xterm
            if [[ "<< parameters.helm-version >>" == v3* ]]
            then
              HELMFILE_HELM3=1 make integration
            else
              make integration
            fi

# GITHUB_TOKEN env var must be setup in circleci console

  release:
    docker:
      - image: circleci/golang:1.17.3
    working_directory: /home/circleci/workspace/helmfile
    steps:
    - checkout
    - restore_cache:
        keys:
        - go-mod-cache-v1-{{ checksum "./go.sum" }}
        - go-mod-cache-v1-
    - setup_remote_docker:
        version: 18.09.3
    - run:
        no_output_timeout: 30m
        command: |
          docker login -u="$DOCKER_USER" -p="$DOCKER_PASS" quay.io
          make tools
          go mod vendor
          ORG=roboll BUILD_URL="$CIRCLE_BUILD_URL" make push push/debian release

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - image:
          requires:
            - build
      - image_debian:
          requires:
            - build
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
